<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

        <title>Cam House sockets</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
        <style>

            html,
            body {
                height: 100%;
            }
            label {
                font-size:87%
            }
            .socket-row {
                
            }

            .timeline {
                list-style-type: none;
                position: relative;
            }
            /* line */
            .timeline:before {
                content: ' ';
                background: #d4d9df;
                display: inline-block;
                position: absolute;
                left: 19px;
                width: 2px;
                height: 100%;
                z-index: 400;
            }

            .timeline-element {
                margin: 5px 0;
                padding: 10px 15px 10px 40px;
            }

            .timeline-element:hover {
                background-color: #f8f9fa;
            }

            /* timeline icon */
            .timeline-element:before {
                content: ' ';
                background: white;
                display: inline-block;
                position: absolute;
                border-radius: 50%;
                border: 3px solid #d4d9df;
                left: 10px;
                width: 20px;
                height: 20px;
                z-index: 400;
            }

            .timeline-element.dot-danger:before {
                border-color: #dc3545;
            }

            .timeline-element.dot-success:before {
                border-color: #28a745;
            }

            .timeline-element.dot-info:before {
                border-color: #17a2b8;
            }

            .timeline-element.dot-warning:before {
                border-color: #ffc107
            }

            .socket-detail-row .socket-detail-card-body-wrapper {
                height: 150px;
                overflow: auto;
            }

            .socket-detail-card-header {
                padding: .50rem 1rem;
            }

        </style>
    </head>

    <body>
        <div class="container d-flex h-100 p-3 mx-auto flex-column">
            <header class="mb-auto">
                <h3 class="brand">Cam House Sockets</h3>
            </header>

            <main role="main">
                <div class="alert" role="alert" style="display:none">
                </div>
                {% for socket in sockets %}
                    <div data-id={{ socket.id }} data-name="{{ socket.name }}" class="socket-row">
                        <div class="row border-top pb-1 pt-1">
                            <div class="col-sm-1 align-self-center"># {{ socket.id }}</div>
                            <div class="col-sm align-self-center">{{ socket.name }}</div>
                            <div class="col-sm align-self-center">{{ socket.description }}</div>
                            <div class="col-sm align-self-center">
                                <div class="btn-group" role="group">
                                    <button class="btn btn-warning btn-on">on</button> 
                                    <button class="btn btn-secondary btn-off">off</button> 
                                </div>
                                <button class="btn btn-outline-dark" data-toggle="collapse" href="#socketDetail{{ socket.id }}" role="button" aria-expanded="false" aria-controls="socketDetail{{ socket.id }}">
                                    <i class="fa fa-caret-down"></i>
                                </button>
                            </div>
                        </div>
                        <div id="socketDetail{{ socket.id }}" class="socket-detail-row row border-top pb-1 pt-1 collapse">
                            <div class="col-sm align-self-center">
                                <div class="card socket-detail-card">
                                    <div class="card-header socket-detail-card-header">
                                        <i class="far fa-clock"></i> Programmed actions
                                        <span class="float-right">
                                            <button class="btn btn-info btn-sm btn-new-event"><i class="fas fa-plus"></i> Add action</button>
                                            <button class="btn btn-info btn-sm btn-edit-events"><i class="fas fa-edit"></i> Edit events</button>
                                        </span>
                                    </div>
                                    <div class="socket-detail-card-body-wrapper">
                                        <div class="card-body">
                                            {% if socket.events is not empty %}
                                                <div class="timeline">
                                                    {% for event in socket.events %}
                                                        <div data-event-id={{event.id}} class="timeline-element {% if event.operationName == 'on' %}dot-warning{% endif %}">
                                                            <div>
                                                                <span>switch <span class="badge {% if event.operationName == 'on' %}badge-warning{% else %}badge-secondary{% endif %}">{{ event.operationName }}</span>, at {{ event.timeString }}</span>
                                                                <div class="float-right">
                                                                    <button class="btn btn-outline-secondary btn-sm btn-edit-event" title="edit"><i class="fas fa-edit"></i></button>
                                                                    <button class="btn btn-outline-secondary btn-sm btn-delete-event" title="delete"><i class="fas fa-trash"></i></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            {% else %}
                                                <div>No actions programmed for this socket</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm align-self-center">
                                <div class="card socket-detail-card">
                                    <div class="card-header socket-detail-card-header">
                                        <span class="">
                                            <i class="fas fa-cog"></i> Socket
                                        </span>
                                        <span class="float-right">
                                            <button class="btn btn-info btn-sm btn-pair"><i class="fas fa-link"></i> Pair</button> <button class="btn btn-success btn-sm btn-edit-socket"><i class="fas fa-edit"></i> Edit</button>
                                        </span>
                                    </div>
                                    <div class="socket-detail-card-body-wrapper">
                                        <ul class="list-group list-group-flush">
                                            {% if socket.events is not empty %}
                                            <li class="list-group-item">
                                                This socket should be <span class="badge {% if socket.previousEvent.operationName == 'on' %}badge-warning{% else %}badge-secondary{% endif %}">{{ socket.previousEvent.operationName }}</span> since {{socket.previousEvent.timeString}}
                                            </li>
                                            <li class="list-group-item">
                                                Next action: switch <span class="badge {% if socket.nextEvent.operationName == 'on' %}badge-warning{% else %}badge-secondary{% endif %}">{{ socket.nextEvent.operationName }}</span> at {{socket.nextEvent.timeString}}
                                            </li>
                                            {% else %}
                                                <div class="card-body">
                                                    <div>No next or previous actions to show</div>
                                                </div>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </main>

            <footer class="mt-auto">
            </footer>
        </div>

        <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="formModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary modal-action-btn">Submit</button>
                </div>
                </div>
            </div>
        </div>
        <!-- JS, Popper.js, and jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    
        <script>
        	$(document).ready(function() {

                function serializeFormJson(form) {
                    var output = {};
                    var serialized = form.serializeArray();
                    $.each(serialized, function () {
                        if (output[this.name]) {
                            if (!output[this.name].push) {
                                output[this.name] = [output[this.name]];
                            }
                            output[this.name].push(this.value || '');
                        } else {
                            output[this.name] = this.value || '';
                        }
                    });
                    return output;
                };


                function switchSocket(url, socket){
                    $.post(url, { "socket" : socket }, null, "json")
                    .done((data) => {
                        $alert = $('.alert')
                        $alert.addClass('alert-success').html(data.message).fadeIn()
                        setTimeout(() => $alert.fadeOut(), 2000)
                    })
                    .fail((data) => {
                        $alert = $('.alert')
                        $alert.addClass('alert-danger').html(data.responseJSON.message).fadeIn()
                        setTimeout(() => $alert.fadeOut(), 2000)
                    });
                }

                $(".btn-on").click(function() {
                    const socketId = $(this).closest(".socket-row").data("id")
                    switchSocket("/switch/on", socketId)
                });

                $(".btn-off").click(function() {
                    const socketId = $(this).closest(".socket-row").data("id")
                    switchSocket("/switch/off", socketId)
                });

                $(".btn-pair").click(function() {
                    const socketId = $(this).closest(".socket-row").data("id")
                    switchSocket("/switch/pair", socketId)
                });

                $(".btn-new-event").click(function() {
                    const socketId = $(this).closest(".socket-row").data("id")
                    const socketName = $(this).closest(".socket-row").data("name")
                    editEvent(false, socketId)
                });

                $(".btn-edit-event").click(function() {
                    const socketId = $(this).closest(".socket-row").data("id")
                    const eventId = $(this).closest(".timeline-element").data("event-id")
                    editEvent(eventId, socketId)
                });

                $(".btn-edit-events").click(function() {
                    const socketId = $(this).closest(".socket-row").data("id")
                    editEvents(socketId)
                });

                $(".btn-delete-event").click(function() {
                    const eventId = $(this).closest(".timeline-element").data("event-id")
                    const confirmed = confirm("Are you sure?");
                    if (confirmed)
                    {
                        $.ajax({
                            url: `/events/${eventId}`,
                            method: "DELETE"
                        })
                        .done(() => {
                            location.reload();
                        })
                    }
                });

                function editEvent(id, socketId) {
                    const url = "/events/edit" + (id ? `/${id}` : "")
                    const modal = $("#formModal")
                    const title = (id ? "Edit event" : "Add new event") + ` for socket ${socketId}`;
                    $.get(url)
                    .done((htmlForm) => {
                        $(".modal-title").html(title)
                        $(".modal-body").html(htmlForm)
                        $(".modal-action-btn").click(() => {
                            const form = $("#event-form")
                            const jsonFormData = serializeFormJson(form);
                            const data = {
                                socket_id: socketId,
                                operation_name: jsonFormData.operation_name,
                                time: jsonFormData.hours + jsonFormData.minutes
                            }
                            $.ajax({
                                url: "/events" + (id ? `/${id}` : ""),
                                method: id ? "PUT" : "POST",
                                data:data
                            })
                            .done(() => {
                                location.reload();
                            })
                            
                        })
                        modal.modal({show: true})
                    });
                }

                function editEvents(socketId) {
                    const url = `/sockets/${socketId}/edit-events`
                    const modal = $("#formModal")
                    const title = "Edit events"
                    $.get(url)
                    .done((htmlForm) => {
                        $(".modal-title").html(title)
                        $(".modal-body").html(htmlForm)
                        $(".modal-action-btn").click(() => {
                            const form = $("#event-form")
                            const jsonFormData = serializeFormJson(form);
                            const data = {
                                socket_id: socketId,
                                operation_name: jsonFormData.operation_name,
                                time: jsonFormData.hours + jsonFormData.minutes
                            }
                            {# $.ajax({
                                url: "/events" + (id ? `/${id}` : ""),
                                method: id ? "PUT" : "POST",
                                data:data
                            })
                            .done(() => {
                                location.reload();
                            }) #}
                            
                        })
                        modal.modal({show: true})
                    });
                }

                $(".btn-edit-socket").click(function() {
                    const socketId = $(this).closest(".socket-row").data("id")
                    editSocket(socketId)
                });

                function editSocket(socketId) {
                    const url = "/sockets/edit" + (socketId ? `/${socketId}` : "")
                    const modal = $("#formModal")
                    const title = (socketId ? `Edit socket ${socketId}` : "Add new socket");
                    $.get(url)
                    .done((htmlForm) => {
                        $(".modal-title").html(title)
                        $(".modal-body").html(htmlForm)
                        $(".modal-action-btn").click(() => {
                            const form = $("#socket-form")
                            const jsonFormData = serializeFormJson(form);
                            $.ajax({
                                url: "/sockets" + (socketId ? `/${socketId}` : ""),
                                method: socketId ? "PUT" : "POST",
                                data:jsonFormData
                            })
                            .done(() => {
                                location.reload();
                            })
                            
                        })
                        modal.modal({show: true})
                    });
                }

            });
        </script>
    </body>
</html>
